SPRING_PROFILES_ACTIVE={{ spring_active_profile }}
SERVER_PORT={{ backend_port }}

SPRING_DATASOURCE_URL=jdbc:sqlserver://{{ db_server_fqdn }}:1433;database={{ db_name }};encrypt=true;trustServerCertificate=false;loginTimeout=30;
SPRING_DATASOURCE_USERNAME={{ db_user }}
SPRING_DATASOURCE_PASSWORD={{ db_password }}
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.microsoft.sqlserver.jdbc.SQLServerDriver

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_SQL_INIT_MODE=always
SPRING_JPA_DEFER_DATASOURCE_INITIALIZATION=true
